/Experimentation/IMG_8396.JPG
/Experimentation/__pycache__
/UI/app/__pycache__/gruChar.cpython-35.pyc
/UI/app/__pycache__/readFile.cpython-35.pyc
/UI/app/__pycache__/EmoAPI.cpython-35.pyc
/.ipynb_checkpoints
/Experimentation/IMG_8397.JPG
/UI/app/haiku.txt
/UI/tmp/HaikuTrainSum
/UI/app/gruChar.py
/Experimentation/Flask
/UI/app/readFile.py
/UI/app/hfinn.txt
/Experimentation/tmp/HaikuTrainSum
/UI/app/__pycache__/__init__.cpython-35.pyc
/UI/db_repository/versions/__pycache__/001_migration.cpython-35.pyc
/UI/db_repository/versions/__pycache__/002_migration.cpython-35.pyc
/UI/app/__pycache__/views.cpython-35.pyc
/UI/db_repository/versions/__pycache__/003_migration.cpython-35.pyc
/UI/db_repository/versions/__pycache__/004_migration.cpython-35.pyc
/UI/db_repository/versions/__pycache__/005_migration.cpython-35.pyc
/UI/db_repository/versions/__pycache__/006_migration.cpython-35.pyc
/UI/__pycache__/config.cpython-35.pyc
/UI/app/__pycache__/classify_image.cpython-35.pyc
/UI/app/__pycache__/models.cpython-35.pyc
/Poet/tmp/PoetLog2016-07-27T16:14:50.139292
/Poet/tmp/PoetLog2016-07-27T16:16:43.141721
/Poet/tmp/PoetLog2016-07-27T16:19:17.746254
/Poet/tmp/PoetLog2016-07-27T16:25:44.445505
/Poet/tmp/PoetLog2016-07-27T16:32:57.910458
/Poet/tmp/PoetLog2016-07-27T23:45:51.642758
/Poet/tmp/PoetLog2016-07-27T23:47:05.095501
/Poet/tmp/PoetLog2016-07-27T23:47:31.677002
/Poet/tmp/PoetLog2016-07-27T23:48:23.816116
/Poet/tmp/PoetLog2016-07-27T23:49:01.183658
/Poet/tmp/PoetLog2016-07-27T23:49:57.041612
/Poet/tmp/PoetLog2016-07-27T23:54:01.936520
/Poet/tmp/PoetLog2016-07-27T23:55:10.330152
/Poet/tmp/PoetLog2016-07-27T23:58:00.414755
/Poet/tmp/PoetLog2016-07-28T00:21:28.513244
/Poet/tmp/PoetLog2016-07-28T00:22:22.411483
/Poet/tmp/PoetLog2016-07-28T00:23:54.376746
/Poet/tmp/PoetLog2016-07-28T00:24:48.285725
/Poet/tmp/PoetLog2016-07-28T00:26:13.009978
/Poet/tmp/PoetLog2016-07-28T00:27:43.923525
/Poet/tmp/PoetLog2016-07-28T00:33:01.217721
/Poet/tmp/PoetLog2016-07-28T00:33:26.086383
/Poet/tmp/PoetLog2016-07-28T00:35:57.494578
/Poet/tmp/PoetLog2016-07-28T00:58:54.718037
/Poet/Saved_Model_Dir/config.py
/Poet/Saved_Model_Dir/events.out.tfevents.1469730476.ip-172-31-1-190
/Poet/Saved_Model_Dir/model.ckpt-460
/Poet/Saved_Model_Dir/model.ckpt-460.meta
/Poet/Saved_Model_Dir/model.ckpt-470
/Poet/Saved_Model_Dir/model.ckpt-470.meta
/Poet/Saved_Model_Dir/model.ckpt-480
/Poet/Saved_Model_Dir/model.ckpt-480.meta
/Poet/Saved_Model_Dir/model.ckpt-490
/Poet/Saved_Model_Dir/model.ckpt-490.meta
/Poet/Saved_Model_Dir/model.ckpt-499
/Poet/Saved_Model_Dir/model.ckpt-499.meta
