/Experimentation/IMG_8396.JPG
/Experimentation/__pycache__
/UI/app/__pycache__/gruChar.cpython-35.pyc
/UI/app/__pycache__/readFile.cpython-35.pyc
/UI/app/__pycache__/EmoAPI.cpython-35.pyc
/.ipynb_checkpoints
/Experimentation/IMG_8397.JPG
/UI/app/haiku.txt
/UI/tmp/HaikuTrainSum
/UI/app/gruChar.py
/Experimentation/Flask
/UI/app/readFile.py
/UI/app/hfinn.txt
/Experimentation/tmp/HaikuTrainSum
/Poet/tmp
/UI/db_repository/versions/__pycache__/003_migration.cpython-35.pyc
/UI/db_repository/versions/__pycache__/006_migration.cpython-35.pyc
/Poet/__pycache__/model.cpython-35.pyc
/Poet/__pycache__/config.cpython-35.pyc
/Poet/__pycache__/sample.cpython-35.pyc
/UI/app/__pycache__/__init__.cpython-35.pyc
/UI/__pycache__/config.cpython-35.pyc
/UI/app/__pycache__/views.cpython-35.pyc
/UI/app/__pycache__/models.cpython-35.pyc
/Poet/__pycache__/train.cpython-35.pyc
/Poet/__pycache__/readPoetry.cpython-35.pyc
/UI/app/__pycache__/classify_image.cpython-35.pyc
/Poet/Saved_Model_Dir/model.ckpt-999.meta
/Poet/Saved_Model_Dir/model.ckpt-970
/Poet/Saved_Model_Dir/model.ckpt-499.meta
/Poet/Saved_Model_Dir/model.ckpt-499
/Poet/Saved_Model_Dir/checkpoint
/Poet/Saved_Model_Dir/model.ckpt-470.meta
/Poet/Saved_Model_Dir/model.ckpt-970.meta
/Poet/Saved_Model_Dir/model.ckpt-490
/Poet/Saved_Model_Dir/events.out.tfevents.1469730476.ip-172-31-1-190
/Poet/Saved_Model_Dir/model.ckpt-470
/Poet/Saved_Model_Dir/model.ckpt-960.meta
/Poet/Saved_Model_Dir/model.ckpt-460.meta
/Poet/Saved_Model_Dir/model.ckpt-980
/Poet/Saved_Model_Dir/output.txt
/Poet/Saved_Model_Dir/model.ckpt-990.meta
/Poet/Saved_Model_Dir/dict.pkl
/Poet/Saved_Model_Dir/model.ckpt-490.meta
/Poet/Saved_Model_Dir/events.out.tfevents.1469652066.Davids-MacBook-Air-3.local
/Poet/Saved_Model_Dir/model.ckpt-960
/Poet/Saved_Model_Dir/model.ckpt-480
/Poet/Saved_Model_Dir/config.py
/Poet/Saved_Model_Dir/model.ckpt-980.meta
/Poet/Saved_Model_Dir/model.ckpt-460
/Poet/Saved_Model_Dir/model.ckpt-999
/Poet/Saved_Model_Dir/model.ckpt-990
/Poet/Saved_Model_Dir/model.ckpt-480.meta
