/Experimentation/IMG_8396.JPG
/Experimentation/__pycache__
/UI/app/__pycache__/gruChar.cpython-35.pyc
/UI/app/__pycache__/readFile.cpython-35.pyc
/UI/app/__pycache__/EmoAPI.cpython-35.pyc
/.ipynb_checkpoints
/Experimentation/IMG_8397.JPG
/UI/app/haiku.txt
/UI/tmp/HaikuTrainSum
/UI/app/gruChar.py
/Experimentation/Flask
/UI/app/readFile.py
/UI/app/hfinn.txt
/Experimentation/tmp/HaikuTrainSum
/UI/db_repository/versions/__pycache__/003_migration.cpython-35.pyc
/UI/db_repository/versions/__pycache__/006_migration.cpython-35.pyc
/UI/db_repository/versions/__pycache__/007_migration.cpython-35.pyc
/UI/db_repository/versions/__pycache__/009_migration.cpython-35.pyc
/UI/db_repository/versions/__pycache__/010_migration.cpython-35.pyc
/Poet/tmp
