{% extends "base.html" %}
{% block content %}
    <br>
    <h1 align="left">Gallery</h1>
    
{% for img_poem in img_poems %}

<div class="row">
    <div class="col-md-4">
        <IMG SRC="{{ url_for('uploaded_thumbnail_file',filename=img_poem.filename) }}" class="img-thumbnail" ALT="{{img_poem.filename}}" WIDTH=200 HEIGHT=128>

    </div>
        <div class="col-md-8">
       {{ img_poem.poem_txt | safe }}
               <input id="input-1" class="rating" data-min="0" data-max="5" data-step="1" value="{{img_poem.meanrating}}" data-disabled="true" data-size="xs" data-show-clear="false" data-show-caption="false"><b>{{img_poem.votes}} votes</b> <a href="{{url_for('ingredients',id=img_poem.id)}}">Details</a>
    </div>
</div>
<hr>



    {% endfor %}




{% endblock %}